<title>
    {{#if title}}
    {{title}}
    {{/if}}
    {{#unless title}}
    Web Bán Hàng
    {{/unless}}
</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
{{!-- bootstrap --}}
<link rel="stylesheet" href="/stylesheets/custom.css">
<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<link rel="stylesheet" href="/fontawesome/css/all.css">

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/stylesheets/product-item.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/home.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/gio-hang.css" />
<script src="/javascripts/main.js"></script>

<script type="text/javascript" src="/slick/slick.min.js"></script>
<link rel="stylesheet" type="text/css" href="/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="/slick/slick-theme.css" />

<script type="text/javascript"
    src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
</head>