<section class="content my-3">
  <div class="container bg-white">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 p-3 rounded shadow">
        <div class="tab-content">
          <form class="form-signIn mt-2" action="/profile/update-password" method="post">
            <p class="text-center fw-bold fs-4">Nhập lại mật khẩu để xác nhận</p>

            <div class="form-label-group">
              <input type="password" class="form-control" placeholder="Mật khẩu cũ" name="oldPassword"
                required>
            </div>
            <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control" placeholder="Mật khẩu" name="password"
                required>
            </div>
            <div class="form-label-group mb-3">
              <input type="password" id="inputConfirmPassword" class="form-control" name="confirmPassword"
                placeholder="Nhập lại mật khẩu" required>
            </div>
            {{#if wrongPassword}} <p class="text-danger">Sai mật khẩu</p> {{/if}}
            {{#if somethingWrong}} <p class="text-danger">Tên đăng nhập hoặc mật khẩu không đúng</p>
            {{/if}}
            <div class="vstack gap-3 align-items-center">
              <button class="btn btn-lg btn-primary text-uppercase my-3 text-white text-hover-black" type="submit">
                Đổi mật khẩu
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>