<section class="content my-3">
  <div class="container bg-white">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 p-3 rounded shadow">
        <div class="tab-content">
          <form class="mt-2" action="/auth/forgot-password" method="post">
            <p class="text-center fw-bold fs-4">Làm mới mật khẩu qua email</p>
            <div class="form-label-group">
              <input type="text" class="form-control" placeholder="Email" name="email"
                required>
            </div>
            {{#if emailError}}
            <p class="text-danger">Email không được đăng ký</p>
            {{/if}}
            <div class="vstack gap-3 align-items-center">
              <button class="btn btn-lg btn-primary text-uppercase my-3 text-white text-hover-black" type="submit">
                Gửi
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>