<!DOCTYPE html>
<html lang="vi">

<head>
  <title>
    {{#if title}}
    {{title}}
    {{/if}}
    {{#unless title}}
    Web Bán Hàng
    {{/unless}}
  </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <link rel="stylesheet" href="/fontawesome/css/all.css">

  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/stylesheets/product-item.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/home.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/gio-hang.css" />
  <script src="/javascripts/main.js"></script>

  <script type="text/javascript" src="/slick/slick.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css" />

  <script type="text/javascript"
    src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
  <link rel="canonical" href="http://dealbook.xyz/">
</head>

<body>
  <!-- header -->
  <nav class="navbar navbar-expand-md bg-white navbar-light">
    <div class="container">
      <!-- logo  -->
      <a class="navbar-brand" href="/" style="color: #CF111A;"><b>MihiShop</b></a>

      <!-- navbar-toggler  -->
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>

      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <!-- form tìm kiếm  -->
        <form class="form-inline ml-auto my-2 my-lg-0 mr-3">
          <div class="input-group" style="width: 520px;">
            <input type="text" class="form-control" aria-label="Small" placeholder="Nhập sách cần tìm kiếm...">
            <div class="input-group-append">
              <button type="button" class="btn" style="background-color: #CF111A; color: white;">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>

  <!-- thanh "danh muc san pham" đã được ẩn bên trong + hotline + ho tro truc tuyen -->
  <section class="navBar-tail">
    <div class="container text-white">
      <div class="row justify">
        <div class="col-lg-3 col-md-5">
          <div class="categoryHeader">
            <div class="productHeader text-white">
              <i class="fa fa-bars"></i>
              <span class="text-uppercase font-weight-bold ml-1">Danh mục sản phẩm</span>
            </div>
            <!-- CATEGORIES -->
            <div class="category-content">
              <ul>
                <li><a href="/catalogs/CA00002/?page=1">Móc khóa</a><i class="fa fa-chevron-right float-right"></i></li>
                <li><a href="/catalogs/CA00003/?page=1">Thú nhồi bông</a><i class="fa fa-chevron-right float-right"></i></li>
                <li><a href="/catalogs/CA00004/?page=1">Bookmark</a><i class="fa fa-chevron-right float-right"></i></li>
                <li><a href="/catalogs/CA00005/?page=1">Thiệp - Bưu ảnh</a><i class="fa fa-chevron-right float-right"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{{body}}}

  <section class="abovefooter text-white" style="background-color: #CF111A;">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="service d-flex align-items-center">
            <img src="/images/icon-books.png" alt="icon-books">
            <div class="product">
              <h3 class="title font-weight-bold">HƠN 1 SẢN PHẨM</h3>
              <p class="detail">Web bán hơn một sản phẩm</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="service d-flex align-items-center">
            <img src="/images/icon-ship.png" alt="icon-ship">
            <div class="product">
              <h3 class="title font-weight-bold">MIỄN PHÍ GIAO HÀNG</h3>
              <p class="detail">Từ 150.000đ ở TP.HCM</p>
              <p class="detail">Từ 300.000đ ở tỉnh thành khác</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="service d-flex align-items-center">
            <img src="/images/icon-gift.png" alt="icon-gift">
            <div class="product">
              <h3 class="title font-weight-bold">QUÀ TẶNG MIỄN PHÍ</h3>
              <p class="detail">Tặng Bookmark</p>
              <p class="detail">Bao quà miễn phí</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="service d-flex align-items-center">
            <img src="/images/icon-return.png" alt="icon-return">
            <div class="product">
              <h3 class="title font-weight-bold">ĐỔI TRẢ NHANH CHÓNG</h3>
              <p class="detail">Hàng bị lỗi được đổi trả nhanh chóng</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- footer  -->
  <footer>
    <div class="container py-4">
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="introduce">
            <h3 class="header text-uppercase font-weight-bold">Về  MihiShop</h3>
            <a href="#">Giới thiệu về  MihiShop</a>
            <a href="#">Tuyển dụng</a>
            <div class="fb-like" data-href="https://www.facebook.com/DealBook-110745443947730/" data-width="300px"
              data-layout="button" data-action="like" data-size="small" data-share="true"></div>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div>
            <h3 class="header text-uppercase font-weight-bold">HỖ TRỢ KHÁCH HÀNG</h3>
            <a href="#">Hướng dẫn đặt hàng</a>
            <a href="#">Phương thức thanh toán</a>
            <a href="#">Phương thức vận chuyển</a>
            <a href="#">Chính sách đổi trả</a>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="lienket">
            <h3 class="header text-uppercase font-weight-bold">HỢP TÁC VÀ LIÊN KẾT</h3>
            <img src="/images/dang-ky-bo-cong-thuong.png" alt="dang-ky-bo-cong-thuong">
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="payment-method">
            <h3 class="header text-uppercase font-weight-bold">Phương thức thanh toán</h3>
            <img src="/images/visa-payment.jpg" alt="visa-payment">
            <img src="/images/master-card-payment.jpg" alt="master-card-payment">
            <img src="/images/jcb-payment.jpg" alt="jcb-payment">
            <img src="/images/atm-payment.jpg" alt="atm-payment">
            <img src="/images/cod-payment.jpg" alt="cod-payment">
            <img src="/images/payoo-payment.jpg" alt="payoo-payment">
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- nut cuon len dau trang -->
  <div class="fixed-bottom">
    <div class="btn btn-warning float-right rounded-circle rollUp-btn" id="backtotop" href="#"
      style="background:#CF111A;"><i class="fa fa-chevron-up text-white"></i></div>
  </div>

</body>

</html>