.category-content {
    display: none;
}

.categoryHeader:hover .category-content {
    display: block;
}

/* css cho cart-content  */
.item-info .ten {
    text-decoration: none;
    color: #282828;
    display: block;
}

.item-price .remove {
    cursor: pointer;
    font-size: 18px;
    color: #bebebe;
}

.item-price .old-price {
    text-decoration: line-through;
    color: #b6b6b6;
}

.item-price {
    font-size: 14px;
}

.btn-spin {
    padding: 0 4px;
    height: 20px;
    width: 17px;
    background: #fefefe;
    color: black;
}

.btn-spin:hover {
    cursor: pointer;
}

._number .product-number {
    width: 32px;
    height: 20px;
    border: 1px solid #d1d1d1;
}

._number .input-number {
    width: 73px;
    height: 20px;
}

.item-caption .item-info .ten {
    font-size: 15px;
    margin-bottom: 5px;
}

.header-cart span {
    color: #979797;
}

.header-cart {
    font-size: 18px;
    font-weight: 400;
}

.cart-item a.img {
    width: 90px;
    height: auto;
    border: 1px solid #c8c8c8;
}

.cart {
    border-right: 1px solid #ebebeb;
}

.group strong {
    font-size: 14px;
}

._total {
    font-size: 19px;
    color: red;
    font-weight: 600;
}

.total-money .group p {
    margin: 0;
    font-size: 13px;
}


/* het css cho cart-content  */

/* css cho cart-steps  */
.card-header {
    transition: 0.3s;
}

.card-header.active i.fa.fa-chevron-right {
    color: white;
}

.card-header.active span.steps {
    background: #981318;
}

.card-header.active a.header {
    color: white;
}

.card-header.active {
    background: #CF111A;
}

.card-header.active .header i.fa-chevron-right {
    transform: rotate(90deg);
}

.header i.fa-chevron-right {
    margin: 13px 13px 0 0;
    color: #b0b0b0;
    transition: 0.3s;
}

.header span.label {
    margin-left: 14px;
}

a.header {
    display: block;
    height: 100%;
    line-height: 42px;
    font-size: 15px;
    font-weight: 400;
    color: black;
    text-decoration: none;
}

.header .steps {
    display: inline-block;
    height: 100%;
    padding: 0px 16px;
    background: #E7E7E7;
}

.card {
    border-radius: 0;
}

.card-header {
    padding: 0;
    height: 42px;
}

.btn-shopping-without-signup:hover {
    color: black !important;
}

.tab-pane .custom-control p {
    margin-right: 22px;
    margin-bottom: 5px;
}

.tab-pane .custom-control {
    font-size: 13px;
}

.tab-pane .custom-control a {
    margin-left: 26px;
}

.tab-pane .form-signIn .btn {
    padding: 12px;
    letter-spacing: 0.08rem;
}

#nav-signIn .form-signIn, #nav-signUp .form-signIn {
    padding: 15px 15px 8px 15px;
}

.nav .nav-item {
    color: #a9a9a9;
    background: #EEEEEE;
}

a#nav-signUp-tab {
    border-right: none;
}


a#nav-signIn-tab {
    margin-left: 0px;
    border-left: none;
}

#nav-signUp-tab {
    margin-left: 0px;
}

.nav-tabs .nav-item {
    width: 50%;
    border-radius: 0;
    font-size: 14px;
}

.signIn-signUp {
    width: 100%;
}

#step2content-id .card-body {
    padding: 15px;
}

.note-before-checkout {
    font-size: 14px;
    margin: 10px 0 0 0;
}

.btn-checkout, .btn-shopping-without-signup {
    padding: 12px;
    letter-spacing: 0.08rem;
    font-size: 80%;
    font-weight: bold;
    transition: all 0.2s;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-checkout:hover {
    color: black !important;
}

.option a {
    color: #F5A623;
    text-decoration: none;
}

.option2 p {
    margin-bottom: 2px !important;
}

.option label {
    font-size: 14px;
    margin: 0;
}

label.chuyenkhoan {
    width: 315px;
    position: absolute;
    left: 32px;
}

.option p {
    font-size: 14px;
    padding-left: 17px;
    margin-bottom: 10px;
}

#step3content-id .header {
    font-size: 15px;
    font-weight: 600;
}

/* het css cho cart-steps  */