#signUp-form .form-signIn p {
    margin-bottom: 3px;
    font-size: 13px;
}

#signUp-form .form-signIn a {
    display: block;
    font-size: 13px;
}

label.error {
    display: inline-block;
    color: red;
    width: 300px;

    margin-top: 5px;
    margin-bottom: 0;
    font-size: 13px;
}

/* .navBar-tail  */
.navBar-tail {
    background-color: #CF111A;
}

.leftSide.float-right {
    line-height: 40px;
    font-size: 14px;
}

.productHeader {
    padding-top: 8px;
    padding-left: 14px;
}

.categoryHeader {
    height: 40px;
    background-color: #aa1318;
}

.navBar-tail .container .row {
    height: 40px;
}

.navBar-tail {
    height: 40px;
}

.hotline {
    display: inline-block;
    position: relative;
    margin-right: 11px;
}

.hotline:after {
    content: "|";
    position: absolute;
    color: white;
    top: -1px;
    right: -10px;
    font-size: 22px;
}

.leftSide a {
    color: white;
}

/* het css .navBar-tail  */

/* css category  */
.category-content {
    border: 1px solid #b4b2b2;
    box-sizing: border-box;
    height: 387px;
    margin-top: 8px;
    position: relative;
    z-index: 10;
    background: white;
}

.category-content ul {
    list-style: none;
    background: white;
}

.category-content>ul>li:hover {
    background-color: #CF111A;
    cursor: pointer;
}

.category-content>ul>li:hover>a {
    color: white;
}

.category-content ul li:hover i.fa.fa-chevron-right {
    color: white;
}

.category-content>ul>li {
    border-bottom: 1px solid #f8e1e1;
    height: 35px;
}

.category-content>ul>li:last-child {
    border-bottom: none
}

.category-content ul li a {
    line-height: 35px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 13px;
}

.category-content ul li ul {
    display: none;
    height: 387px;
    width: 750px;
    border: 1px solid #d1d1d1;
    position: absolute;
    z-index: 99;
    top: -1px;
    left: -16px;
    margin-left: 270px;
    box-shadow: 0px 1px 3px #e7dddd;
    background-color: white;
}

.category-content ul li ul:hover {
    cursor: auto;
}

.category-content ul li a {
    text-decoration: none;
    color: black;
}

.category-content ul li:hover ul {
    display: block;

}

ul i.fa.fa-chevron-right {
    font-size: 10px;
    color: #d1d1d1;
    line-height: 35px;
    padding-right: 20px;
}

/* het css category  */

/* hidden-category */

.category-content ul li ul li:first-child {
    margin-top: 3px;
}

.category-content ul li ul li.li-header {
    margin-top: 16px;
}

ul li a.header {
    font-size: 15px;
    padding-left: 33px;
    color: #CF111A;
}

.category-content ul li ul .content {
    float: left;
    margin-left: 19px;
    width: 300px;
    height: 265px;
}


.category-content ul li ul .content.content-right {
    margin-left: 100px;
}


.category-content ul li ul .content li a:hover {
    color: #F5A623;
}

.category-content {
    display: none;
}

.categoryHeader:hover .category-content {
    display: block;
}

/*het hidden-category */


/* css cho service  */
.service p.detail {
    font-size: 12px;
    margin-bottom: 1px;
    width: 198px;
}

.service {
    padding: 24px 0px 24px;
}

.service h6.title {
    font-size: 14px;
    margin-bottom: 3px;
}

.service .product {
    width: 180px;
}

.service img {
    width: 57px;
    height: 57px;
    margin-right: 10px;
}

/* het css cho service  */

/* css cho footer  */
.payment-method {
    width: 200px;
}

footer .row a {
    text-decoration: none;
    display: block;
    color: black;
    transition: 0.3s;
    padding-bottom: 5px;
    font-size: 14px;
}

footer .row a:hover {
    color: #F5A623;
}

footer .header {
    font-size: 14px;
    margin-bottom: 13px;
}

/* het css cho footer  */


/* css cho breadcrumb  */
.breadcrumb {
    height: 40px;
}

.breadcrumb {
    height: 40px;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

.breadcrumb-item a {
    font-size: 12px;
    color: #666666;
    text-decoration: none;
    transition: 0.2s;
    line-height: 40px;
}

.breadcrumb-item a:hover {
    color: #F5A623;
}

.breadcrumb-item.active a {
    color: #F5A623;
}

/* het css cho breadcrumb  */


/* <---css cho gio-hang -->  */

/* css cho cart-content  */
.item-info .ten {
    text-decoration: none;
    color: #282828;
    display: block;
}

.item-price .remove {
    cursor: pointer;
    font-size: 18px;
    color: #bebebe;
}

.item-price .old-price {
    text-decoration: line-through;
    color: #b6b6b6;
}

.item-price {
    font-size: 14px;
}

.btn-spin {
    padding: 0 4px;
    height: 20px;
    width: 17px;
    background: #fefefe;
    color: black;
}

.btn-spin:hover {
    cursor: pointer;
}

._number .product-number {
    width: 32px;
    height: 20px;
    border: 1px solid #d1d1d1;
}

._number .input-number {
    width: 73px;
    height: 20px;
}

.item-caption .item-info .ten {
    font-size: 15px;
    margin-bottom: 5px;
}

.header-gio-hang span {
    color: #979797;
}

.header-gio-hang {
    font-size: 14px;
    font-weight: 400;
}

.cart-item a.img {
    width: 90px;
    height: auto;
    border: 1px solid #c8c8c8;
}

.cart {
    border-right: 1px solid #ebebeb;
}

.group strong {
    font-size: 14px;
}

.total-money .group ._total {
    font-size: 19px;
    color: red;
    font-weight: 600;
}

.total-money .group p {
    margin: 0;
    font-size: 13px;
}

.buy-more-btn:hover {
    background: #F5A623;
    color: white;
}

.buy-more-btn {
    border: 1px solid #F5A623;
    color: #F5A623;
}

/* het css cho cart-content  */

/* css cho cart-steps  */
.card-header {
    transition: 0.3s;
}

.card-header.active i.fa.fa-chevron-right {
    color: white;
}

.card-header.active span.steps {
    background: #981318;
}

.card-header.active a.header {
    color: white;
}

.card-header.active {
    background: #CF111A;
}

.card-header.active .header i.fa-chevron-right {
    transform: rotate(90deg);
}

.header i.fa-chevron-right {
    margin: 13px 13px 0 0;
    color: #b0b0b0;
    transition: 0.3s;
}

.header span.label {
    margin-left: 14px;
}

a.header {
    display: block;
    height: 100%;
    line-height: 42px;
    font-size: 15px;
    font-weight: 400;
    color: black;
    text-decoration: none;
}

.header .steps {
    display: inline-block;
    height: 100%;
    padding: 0px 16px;
    background: #E7E7E7;
}

.card {
    border-radius: 0;
}

.card-header {
    padding: 0;
    height: 42px;
}

.btn-shopping-without-signup:hover {
    color: black !important;
}

.tab-pane .custom-control p {
    margin-right: 22px;
    margin-bottom: 5px;
}

.tab-pane .custom-control {
    font-size: 13px;
}

.tab-pane .custom-control a {
    margin-left: 26px;
}

.tab-pane .form-signIn .btn {
    padding: 12px;
    letter-spacing: 0.08rem;
}

#nav-signIn .form-signIn, #nav-signUp .form-signIn {
    padding: 15px 15px 8px 15px;
}

.nav .nav-item {
    color: #a9a9a9;
    background: #EEEEEE;
}

a#nav-signUp-tab {
    border-right: none;
}


a#nav-signIn-tab {
    margin-left: 0px;
    border-left: none;
}

#nav-signUp-tab {
    margin-left: 0px;
}

.nav-tabs .nav-item {
    width: 50%;
    border-radius: 0;
    font-size: 14px;
}

.signIn-signUp {
    width: 100%;
}

#step2content-id .card-body {
    padding: 15px;
}

.note-before-checkout {
    font-size: 14px;
    margin: 10px 0 0 0;
}

.btn-checkout, .btn-shopping-without-signup {
    padding: 12px;
    letter-spacing: 0.08rem;
    font-size: 80%;
    font-weight: bold;
    transition: all 0.2s;
}

.btn-checkout:hover {
    color: black !important;
}

.option a {
    color: #F5A623;
    text-decoration: none;
}

.option2 p {
    margin-bottom: 2px !important;
}

.option label {
    font-size: 14px;
    margin: 0;
}

label.chuyenkhoan {
    width: 315px;
    position: absolute;
    left: 32px;
}

.option p {
    font-size: 14px;
    padding-left: 17px;
    margin-bottom: 10px;
}

#step3content-id .header {
    font-size: 15px;
    font-weight: 600;
}

/* het css cho cart-steps  */

@media (max-width:767px) {
    .navbar form .input-group {
        width: 100% !important;

    }

    .navbar ul li a.nav-link {
        margin-left: 0.25rem !important;
    }

    .navbar ul li.account {
        border-top: 1px dashed #CF111A;
        border-bottom: 1px dashed #CF111A;
        padding-bottom: 0.5rem;
        margin-bottom: 0.25rem;
    }

    .navbar ul li.cart {
        border-bottom: 1px dashed #CF111A;
        padding-bottom: 0.5rem;
        margin-right: 8px;
    }

    .category-content {
        display: none;
    }

    .categoryHeader:hover .category-content {
        display: none;
    }

    /* cart  */
    .cart-content {
        padding-right: 16px;
    }

    .cart-steps {
        margin-left: 15px;
    }
}